<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myshop.domain.user.mapper.UserAddressMapper">
    <select id="selectAddressesByUserId" resultType="UserAddress">
        SELECT user_id,address_id,priority,address,address_detail,zipcode
        FROM user_addresses WHERE user_id=#{userId}
    </select>

    <insert id="insertUserAddress" parameterType="UserAddress">
        INSERT INTO user_addresses(user_id, priority, address, address_detail, zipcode)
        VALUES(#{userId},#{priority},#{address},#{addressDetail},#{zipcode})
    </insert>

    <update id="update" parameterType="UserAddress">
        UPDATE user_addresses
        SET priority=#{priority}, address=#{address}, address_detail=#{addressDetail}, zipcode=#{zipcode}
        WHERE user_id=#{userId}
    </update>

    <delete id="delete">
        DELETE FROM user_addresses
        WHERE user_id=#{userId}
    </delete>
</mapper>