<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myshop.domain.order.mapper.vCartMapper">
    <select id="selectByCartId" resultType="vCart">
        SELECT * FROM v_carts WHERE cart_id=#{cartId}
    </select>

    <select id="selectByUserId" parameterType="String" resultType="vCart">
        SELECT * FROM v_carts WHERE user_id = #{userId}
    </select>
</mapper>